@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer theme {
  :root {
    --background-color: white;
    --primary-color: #FAF8F7;
    --accent-color: #FFB320;

    --font-family: "Open Sans", sans-serif;
    --text-color: #292929;
    --page-bg: var(--background-color);

    --navbar-bg: var(--background-color);
    --navbar-color: var(--text-color);

    --button-bg: var(--accent-color);
    --button-color: white;
  }

  .dark {
    --background-color: #252629;
    --primary-color: #F6EFE6;
    --accent-color: #F6EFE6;

    --font-family: "Open Sans", sans-serif;
    --text-color: white;
    --page-bg: var(--background-color);

    --navbar-bg: var(--background-color);
    --navbar-color: var(--text-color);

    --button-bg: var(--accent-color);
    --button-color: white;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .prose-blog {
    @apply prose prose-neutral dark:prose-invert dark:text-white;

    h1 {
      @apply text-3xl font-bold dark:text-white;
    }

    h2 {}

    p {}

    a {}

    li {
      @apply dark:text-white
    }

    pre {
      @apply dark:bg-[#151617] dark:border-solid dark:border-[0.5px] dark:border-gray-700
    }
  }
}

body {
  font-family: var(--font-family);
  @apply text-sm;
}