@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer theme {
  :root {
    --page-bg: white;
  }

  .dark {
    --page-bg: #252629;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .prose-blog {
    @apply prose prose-neutral dark:prose-invert dark:text-white;

    h1 {
      @apply text-3xl font-bold dark:text-white;
    }

    h2 {}

    p {}

    a {}

    li {
      @apply dark:text-white
    }

    pre {
      @apply dark:bg-[#151617] dark:border-solid dark:border-[0.5px] dark:border-gray-700
    }
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}